/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.y-main {
  display: flex;
  flex-direction: column;
}
.y-login-bar {
  background: rgba(255,255,255,0.3);
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  justify-content: end;
  margin-bottom: 1rem;
  margin-top: 0.125rem;
}
.y-username {

}
.y-login-button {

}
.y-login-error {
  color: rgb(255 235 0);
}
.y-stage {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  gap: 1rem;
}
.y-playlist {
  width: 50%;
}
.y-songlist {
  margin: 1rem 0;
}
.y-songlist td {
  vertical-align: baseline;
}
.y-settings {
  width: 50%;
}
.y-song-settings textarea,
.y-album-settings textarea {
  width: 100%;
  resize: vertical;
  min-height: 3rem;
}
.y-song-preview {
  margin-top: .5rem;
  white-space: pre-line;
}
.y-settings-divider {
  margin: .5rem 0;
  border: 1px solid white;
}
.y-album-name {
  display: flex;
}
.y-album-name input {
  flex-grow: 1;
  margin-left: .5rem;
}
.y-album-preview {
  margin-top: .5rem;
  white-space: pre-line;
}
