/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  box-sizing: border-box;
}
:root {
  --error-color: rgb(255 235 0);
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.y-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.y-login-bar {
  background: rgba(255,255,255,0.3);
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  justify-content: end;
  margin-bottom: 1rem;
  margin-top: 0.125rem;
}
.y-username {

}
.y-login-button {

}
.y-logout-button {
  margin-left: .5rem;
}
.y-login-error {
  color: var(--error-color);
}
.y-stage {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-grow: 1;
  padding-bottom: 4.75rem; /*height of the statusbar + margins */
  overflow: hidden;
}
.y-playlist {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: .5rem;
}

.y-settings {
  width: 50%;
  overflow: auto;
  padding-right: .5rem;
}
.y-song-settings {
  margin-top: 1rem;
}
.y-song-settings textarea,
.y-album-settings textarea {
  width: 100%;
  resize: vertical;
  min-height: 3rem;
}
.y-song-preview {
  margin-top: .5rem;
  white-space: pre-line;
}

.y-settings-divider {
  margin: .5rem 0;
  border: 1px solid white;
}
.y-album-name,
.y-song-name-template {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.y-album-name input,
.y-song-name-template input {
  flex-grow: 1;
  margin-left: .5rem;
}
.y-song-name-preview {
  margin-bottom: .5rem;
}
.y-album-preview {
  margin-top: .5rem;
  white-space: pre-line;
}

.y-statusbar {
  background: rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 75vh;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.y-statusbar-open {
  gap: 1rem;
  margin-bottom: 0;
}
.y-statusbar-open:not(.y-statusbar-error) {
  background: linear-gradient(200.96deg, #7a2c9e -29.09%, #dd5789 51.77%,  #fedc2a 129.35%);
}
.y-statusbar-error {
  background: rgba(255,255,255, .74);
}
.y-progressbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2.4rem;
  height: 2.75rem; /* TODO jumping japanese characters */
}
.y-progressbar-done {
  color: white
}
.y-progressbar-inprogress {
  color: #8cff77;
}
.y-progressbar-error {
  color: red;
}
.y-status-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: help;
}
.y-progressbar button {
  white-space: nowrap;
}
.y-logs {
  white-space: pre-wrap;
  background: black;
  font-family: monospace;
  overflow: auto;
  padding: .5rem;
}

.y-success-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgb(255 225 9 / 70%); */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.y-success-modal {
  background: linear-gradient(200.96deg, #7a2c9e -29.09%, #dd5789 51.77%,  #fedc2a 129.35%);
  padding: 2rem;
  border-radius: 10px;
}
.y-success-modal a {
  color: #fffb80;
  font-weight: bold;
}
.y-success-modal-ok {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.y-success-modal-songs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
